<!--Información del curso-->
<img align="left" style="padding-right:10px;" src="figuras/logo_ciencia_datos.png">

<br><br><center><h1 style="font-size:2em;color:#2467C0">Caso de estudio 1: Indicadores de Desarrollo Mundial</h1></center>
<br>
<table>
<col width="550">
<col width="450">
<tr>
<td><img src="figuras/North_South_divide.svg" align="middle" style="width:550px;height:360px;"/></td>
<td>
El conjunto de  Indicadores del desarrollo mundial  obtenido del Banco Mundial  contiene más de mil indicadores anuales de desarrollo económico de cientos de países de todo el mundo.<br>
</td>
</tr>
</table>

## Conjunto de datos

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#plt.style.use('seaborn-whitegrid')

In [2]:
#Cargar el archivo datos/Indicators.csv en un DataFrame llamado data
data = pd.read_csv('datos/Indicators.csv')

In [3]:
#Mostrar las primeras filas del DataFrame data
data.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

<div class="alert alert-success">
Haga una máscara para seleccionar el indicador CO2 emissions (metric tons per capita) y una para el 2011
</div>

In [4]:
#Defina strings que deben contener las columnas str_indicator, str_2011
str_indicator = 'CO2 emissions \(metric'
str_2011 = 2011

In [5]:
#Defina las máscaras  mask_indicator , mask_2011
mask_indicator = data['IndicatorName'].str.contains(str_indicator) 
mask_2011 = data['Year']==str_2011

In [6]:
# Aplique las máscaras para encontrar los datos para las emesiones de C02 en el 2011
data_C02_2011 = data[(mask_indicator) & (mask_2011) ]
data_C02_2011.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
5026275,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,4.724500
5026788,Caribbean small states,CSS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,9.692960
5027295,Central Europe and the Baltics,CEB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,6.911131
5027870,East Asia & Pacific (all income levels),EAS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,5.859548
5028456,East Asia & Pacific (developing only),EAP,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,5.302499

<div class="alert alert-success">
Defina un nuevo DataFrame, df_C02_2011, con el indicador CO2 emissions (metric tons per capita) y el codigo del pais 
</div>

In [7]:
df_C02_2011 = data_C02_2011[['CountryCode','Value']]
df_C02_2011.head()

        CountryCode     Value
5026275         ARB  4.724500
5026788         CSS  9.692960
5027295         CEB  6.911131
5027870         EAS  5.859548
5028456         EAP  5.302499

### Coordenadas geograficas de los países

<div class="alert alert-success">
Graficar los datos de los diferentes paises en un mapa
</div>

In [8]:
#Cargar el archivo datos/geo/world-countries.json en la variable country_geo

In [9]:
# Importar la libreria folium
# Defina una referencia para graficar los paises
# location= [latitud,longitud]
# zoom_start=zoom donde comenzará

## Cargar al finalizar en diferentes coordenadas y zooom

In [10]:
#TItulo "Emisiones de CO2 (toneladas métricas per cápita)"

Utilizar la funcion ``Choropleth`` para graficar los datos

* ``geo_data``= variable que guarda los datos JSON 
* ``data``= DataFrame con los datos
* ``key_on``= 'feature.id'
* ``fill_color``= Estilo de colores
* ``fill_opacity``= Opacidad del relleno de 0 a 1 
* ``line_opacity``= Opacidad de la linea de 0 a 1 
* ``legend_name``= titulo  de la leyenda

In [11]:

#En la parte final de la notebook se encuentran más opciones de barras colores

## ## Otra opción para visualizar el mapa

In [12]:
# Guardamos el mapa

In [13]:
# Desplegamos el mapa

### Barras de Colores
<img align="left" style="padding-right:10px;" src="figuras/barras_colores.png">