<!--Información del curso-->
<img align="left" style="padding-right:10px;" src="figuras/logo_ciencia_datos.png">

<center><h1 style="font-size:2em;color:#2467C0"> Pandas - Parte 4  </h1></center>

<center><h4 style="font-size:2em;color:#840700">  Pandas - Combinación de DataFrames     </h4></center>

<br>
<table>
<col width="550">
<col width="450">
<tr>
<td><img src="figuras/concatenar.png" align="left" style="width:500px"/></td>
<td>

* **Wes McKinney**, empezó a desarrollar Pandas en el año 2008 mientras trabajaba en *AQR Capital* por la necesidad que tenía de una herramienta flexible de alto rendimiento para realizar análisis cuantitativo en datos financieros. 
* Antes de dejar AQR convenció a la administración de la empresa de distribuir esta biblioteca bajo licencia de código abierto.
* **Pandas** es un acrónimo de **PANel DAta analysiS**
   
    
<br>
</td>
</tr>
</table>

# Introducción

Algunos de los estudios de datos más interesantes provienen de la combinación de diferentes fuentes de datos.
Estas operaciones pueden involucrar desde la concatenación muy sencilla de dos conjuntos de datos diferentes, hasta uniones y fusiones de estilo de base de datos complejas que manejan superposición entre los conjuntos de datos.  Pandas incluye funciones y métodos que hacen que este tipo de operaciones de datos seas rápidas y sencillas.

En esta lección echaremos un vistazo a la concatenación con la función  ``pd.concat``.

# Librerías

Cargando las bibliotecas que necesitamos

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# dataframe
data = {'pais': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'poblacion': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']}
paises = pd.DataFrame(data)
paises

In [ ]:
#Agregar la  columna de densidad poblacional
paises['densidad_poblacional'] = paises['poblacion']*1e6 / paises['area']
paises

# Concatenando DataFrames

La función ``pd.concat`` hace todo el trabajo de combinar datos de diferentes maneras. ``pd.concat`` toma una lista o diccionario de los objetos Series/DataFrame y los concatena en una cierta dirección (`axis`) con un manejo configurable de "qué hacer con los otros ejes".

## Combinando filas - ``pd.concat``

![](figuras/schema-concat0.svg)

Supongamos que tenemos algunos datos similares a los del *DataFrame paises*, pero para un conjunto de países diferentes:

In [ ]:
data = {'pais': ['Nigeria', 'Rwanda', 'Egypt', 'Morocco', ],
        'poblacion': [182.2, 11.3, 94.3, 34.4],
        'area': [923768, 26338 , 1010408, 710850],
        'capital': ['Abuja', 'Kigali', 'Cairo', 'Rabat']}
paises_africa = pd.DataFrame(data)
paises_africa

Ahora queremos combinar las filas de ambos conjuntos de datos:

In [ ]:
# combinar las filas

Se puede observar que pudiera existir una confusión por los índices repetidos, también que cuando los *DataFrame*  no tienen el mismo conjunto de columnas, por defecto se introducen. Si no queremos que se conserve el índice:

In [ ]:
# ignorando el indice

## Combinando columnas - ``pd.concat`` con `` axis = 1``

![](figuras/schema-concat1.svg)

Supongamos que tenemos otro DataFrame para los mismos países, pero con algunas estadísticas adicionales:

In [ ]:
data = {'pais': ['Belgium', 'France', 'Netherlands'],
        'GDP': [496477, 2650823, 820726],
        'C02': [8.0, 9.9, 5.7]}

In [ ]:
# Crear el dataframe paises_economics

In [ ]:
# Concatenar

Como se observa la concatenación fue correcta pero los datos no coinciden con los países , `pd.concat` puede hace coincidir los diferentes objetos basados con el índice:

In [ ]:
#Colocaremos la columna 'pais' como índice

In [ ]:
#Colocaremos la columna 'pais' como índice

In [ ]:
# Concatenando

## Uniendo datos con `pd.merge`

Usando `pd.concat` arriba, combinamos conjuntos de datos que tenían las mismas columnas o los mismos valores de índice. Pero, otro caso típico es si desea agregar información del segundo *DataFrame* a un primero basado en una de las columnas. Eso se puede hacer con `pd.merge` (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html).

Veamos nuevamente los datos del Titanic, pero tomemos un pequeño subconjunto para hacer que el ejemplo sea más fácil de entender:

In [ ]:
df = pd.read_csv("datos/titanic.csv")
df = df.loc[:9, ['Survived', 'Pclass', 'Sex', 'Age', 'Fare', 'Embarked']]

In [ ]:
# mostrar las primeras filas de df

Supongamos que tenemos otro *DataFrame* con más información sobre las ubicaciones de embarque:

In [ ]:
localidades = pd.DataFrame({'Embarked': ['S', 'C', 'Q', 'N'],
                          'City': ['Southampton', 'Cherbourg', 'Queenstown', 'New York City'],
                          'Country': ['United Kindom', 'France', 'Ireland', 'United States']})

Ahora queremos agregar esas columnas al DataFrame del Titanic, para lo cual podemos usar `pd.merge`, especificando la columna en la que queremos fusionar los dos conjuntos de datos:

In [ ]:
# Utilizar 'Embarked'

## Ejercicios - parte A

<div class="alert alert-success">

<b>EJERCICIO 1</b>: 
    
Tomando los siguientes *DataFrames* encontrar la salida que se muestra en la imagen
    
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'], 
                    'B': ['B0', 'B1', 'B2', 'B3'], 
                    'C': ['C0', 'C1', 'C2', 'C3'], 
                    'D': ['D0', 'D1', 'D2', 'D3']}) 
  
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'], 
                    'B': ['B4', 'B5', 'B6', 'B7'], 
                    'C': ['C4', 'C5', 'C6', 'C7'], 
                    'D': ['D4', 'D5', 'D6', 'D7']}) 
  
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'], 
                    'B': ['B8', 'B9', 'B10', 'B11'], 
                    'C': ['C8', 'C9', 'C10', 'C11'], 
                    'D': ['D8', 'D9', 'D10', 'D11']}) 
    
    
**Salida**:    
    
<img align="left" width="150"  float= "none" align="middle" src="figuras/concat_1.png">
    
    
</div>

<div class="alert alert-success">

<b>EJERCICIO 2</b>: 
    
Tomando los *DataFrames*  df1 y df4, encontrar la salida que se muestra en la imagen
    
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                   index=[2, 3, 6, 7])
    
**Salida**:    
    
<img align="left" width="250"  float= "none" align="middle" src="figuras/concat_1b.png">
    
    
</div>

<div class="alert alert-success">

<b>EJERCICIO 3</b>: 
    
Tomando los siguientes *DataFrames* encontrar la salida que se muestra en la imagen
    
left = pd.DataFrame({'Key': ['K0', 'K1', 'K2', 'K3'], 
                    'A': ['A0', 'A1', 'A2', 'A3'], 
                    'B': ['B0', 'B1', 'B2', 'B3']}) 
  
right = pd.DataFrame({'Key': ['K0', 'K1', 'K2', 'K3'], 
                      'C': ['C0', 'C1', 'C2', 'C3'], 
                      'D': ['D0', 'D1', 'D2', 'D3']}) 
    
**Salida**:    
    
<img align="left" width="150"  float= "none" align="middle" src="figuras/concat_2.png">
    
    
</div>

# Ejercicios - parte B

Utilizar los datos de north_america_2000_2010.csv y  south_america_2000_2010.csv que corresponden a información de los años 2000 al 2010,para los países de México, Canadá, Estados Unidos y Chile

In [ ]:
north_america = pd.read_csv('datos/north_america_2000_2010.csv', index_col=0)
north_america

In [ ]:
south_america = pd.read_csv('datos/south_america_2000_2010.csv', index_col=0)
south_america

<div class="alert alert-success">

<b>EJERCICIO 4</b>: 
    
Tomando los   *DataFrames* north_america y  south_america encontrar la salida que se muestra en la imagen
    
**Salida**:    
    
<img align="left" width="550"  float= "none" align="middle" src="figuras/ejercicioB1.png">
    
    
</div>

<div class="alert alert-success">

<b>EJERCICIO 5</b>: 
    
Queremos que nuestros datos sean lo más recientes posible. Después de solicitar datos sobre estos cuatro países de años posteriores, el equipo de recopilación de datos  envió cada año desde 2011 hasta 2015 en archivos CSV separados de la siguiente manera americas_2011.csv , americas_2012.csv, americas_2013.csv,americas_2014.csv, americas_2015.csv:
    
**Salida**:    
    
<img align="left" width="750"  float= "none" align="middle" src="figuras/ejercicioB-3.png">
   
    
</div>

<div class="alert alert-success">

<b>EJERCICIO 6</b>: 
    
Ahora que tenemos una vista completa de las Américas, nos gustaría ver cómo se compara con el resto del mundo. El equipo de recopilación de datos ha proporcionado archivos CSV para Asia, Europa y el Pacífico Sur desde 2000 hasta 2015. Utilizar los archivos asia_2000_2015.csv, europe_2000_2015.csv y south_pacific_2000_2015.csv

Encontrar la salida que se muestra en la imagen
    
**Salida**:    
*Solo se muestran unas cuantas filas    


<img align="left" width="750"  float= "none" align="middle" src="figuras/ejercicioC.png">
    
    
</div>